<div class="container">
<h1 >NXH bank</h1>
<a href="http://localhost:4000/bank/signin">
<button >Sign in</button>
</a>
<a href="http://localhost:4000/bank/signup">
<button >Sign up</button>
</a>
<a class="btn btn-primary btn-lg" href="http://localhost:4000/bank/LoginWithFacebook">
    <i class="fa fa-facebook"></i>
    Sign in with Facebook
</a>
</div>